
div{
line-height: 2.8em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-style: solid;
border-color: darkgreen;
color:dodgerblue;
font-size: 130%;
}
img{  
    border: 5px solid darkgreen;
    border-style: groove;
}
.bg{
    background-image: url(../images/forest.png);
    height: 100%;
    padding: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.cell{cursor: cell;}
.pointer{cursor: pointer;}
